@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-image: url(https://r4.wallpaperflare.com/wallpaper/82/743/654/city-clouds-drawing-stars-wallpaper-a91098bd91dafd4b06f7e8af90a1b68d.jpg);
        background-attachment:scroll;
    }
    main{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        height:100vh;
    }
</style>
<main role="main" class="" >


    <div> <h1 class="text-white">Learn English</h1></div>

    
</main>