@using EnglishLearningProject.ViewModels
@model ChangeResetPasswordViewModel

@{
    ViewData["Title"] = "ChangeResetPassword";
}
@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml")
}


<h1>Reset Password Page</h1>




<form asp-controller="Main" asp-action="ChangeResetPassword" method="post">

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            Şifre Değiştirme İşlemi Başarılı
        </div>
    }


    <div asp-validation-summary="ModelOnly" class="alert alert-info">
    </div>

    <div class="mb-3">
        <label for="Password" class="form-label" asp-for="Password"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" asp-for="Password" placeholder="Şifre Giriniz">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <label for="ConfirmPassword" class="form-label" asp-for="ConfirmPassword"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" asp-for="ConfirmPassword" placeholder="Şifre Giriniz">
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>


    <button type="submit" class="btn btn-outline-info">Şifreyi Değiştir</button>
</form>