@using EnglishLearningProject.ViewModels
@model UserRegisterViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml")
}

<head>
    <link rel="stylesheet" href="~/css/login.css"/>
</head>
@if (TempData["SuccessMessage"] != null)
{
     <div class="alert-success bg-black" role="alert">
         Üye Olma İşlemi Başarılı
     </div>    
}



<div class=" alert alert-danger bg-black" asp-validation-summary="ModelOnly" >

</div>

@*
<form asp-controller="Main" asp-action="Register" method="post">

    <div class="mb-3">
        <label class="form-label" asp-for="name"></label>
        <input type="text" class="form-control" asp-for="name" placeholder="İsim" />
        <span class="text-danger" asp-validation-for="name"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="surname"></label>
        <input type="text" class="form-control" asp-for="surname" placeholder="Soyisim" />
        <span class="text-danger" asp-validation-for="surname"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="userName"></label>
        <input type="text" class="form-control" asp-for="userName" placeholder="Kullanıcı Adı" />
        <span class="text-danger" asp-validation-for="userName"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="email"></label>
        <input type="text" class="form-control" asp-for="email" placeholder="Email" />
        <span class="text-danger" asp-validation-for="email"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="password"></label>
        <input type="text" class="form-control" asp-for="password" placeholder="Şifre" />
        <span class="text-danger" asp-validation-for="password"></span>
    </div>

    <button class="btn btn-outline-light">Üye Ol</button>
</form>




*@




<div id="gradient-bg">
    <div calss="gradient-container">
        <div class="gradient1"></div>
        <div class="gradient2"></div>
        <div class="gradient3"></div>
        <div class="gradient4"></div>
        <div class="gradient5"></div>
    </div>
</div>

<!-- Form -->
<div id="form-container">
    <form asp-controller="Main" asp-action="Register" method="post">

        <div class="mb-3">
            <label class="form-label" asp-for="name"></label>
            <input type="text" class="form-control" asp-for="name" placeholder="İsim" />
            <span class="text-danger" asp-validation-for="name"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="surname"></label>
            <input type="text" class="form-control" asp-for="surname" placeholder="Soyisim" />
            <span class="text-danger" asp-validation-for="surname"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="userName"></label>
            <input type="text" class="form-control" asp-for="userName" placeholder="Kullanıcı Adı" />
            <span class="text-danger" asp-validation-for="userName"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="email"></label>
            <input type="text" class="form-control" asp-for="email" placeholder="Email" />
            <span class="text-danger" asp-validation-for="email"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="password"></label>
            <input type="text" class="form-control" asp-for="password" placeholder="Şifre" />
            <span class="text-danger" asp-validation-for="password"></span>
        </div>

        <button class="btn button">Üye Ol</button>
    </form>



</div>
