@using EnglishLearningProject.ViewModels
@model ResetPasswordViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        Şifre yenileme linki eposta adresinize gönderilmiştir.
    </div>
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger">
</div>

<form asp-controller="Main" asp-action="ResetPassword" method="post">
    <h4>Şifre Yenileme Linki Eposta adresinize gelecektir.</h4>
    <div class="form-group">
        <label asp-for="Email">Username</label>
        <input class="form-control" asp-for="Email" aria-describedby="" placeholder="Enter Email">
    </div>

    <button type="submit" class="btn btn-primary m-4">Gönder</button>
</form>

