@using EnglishLearningProject.ViewModels
@model AddWordViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_UserLayout";
}
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml")
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-info "> Kelime Ekleme İşlemi Başarılı.</div>
}

<div asp-validation-summary="ModelOnly" class="alert-danger"></div>

<form asp-controller="Member" asp-action="AddWord" method="post">

    <div class="mb-3">
        <label  class="form-label text-white" asp-for="WordEN"></label>
        <input type="text" class="form-control text-white bg-transparent" asp-for="WordEN" placeholder="İngilizce Kelime Giriniz">
        <span class="text-danger " asp-validation-for="WordEN"></span>
    </div>

    <div class="mb-3">
        <label  class="form-label text-white" asp-for="WordTR"></label>
        <input type="text" class="form-control text-white bg-transparent" asp-for="WordTR" placeholder="Türkçe Kelime Giriniz">
        <span class="text-danger" asp-validation-for="WordTR"></span>
    </div>

    <div class="mb-3">
        <label class="form-label text-white" asp-for="WordSentences"></label>
        <input type="text" class="form-control text-white bg-transparent" asp-for="WordSentences" placeholder="İngilizce Cümle Giriniz">
        <span class="text-danger" asp-validation-for="WordSentences"></span>
    </div>

    <button class="btn btn-outline-info">Kelime Ekle</button>
</form>
