


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_UserLayout</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EnglishLearningProject.styles.css" asp-append-version="true" />
    <style>
        body{
            background-image: url(https://r4.wallpaperflare.com/wallpaper/82/743/654/city-clouds-drawing-stars-wallpaper-a91098bd91dafd4b06f7e8af90a1b68d.jpg);
        }
    </style>
</head>



<body>
    <div style="display:grid; grid-template-columns:1fr 3fr;">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark side" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
            <span class="fs-4">English Learn APP</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a asp-action="GetWords" asp-controller="Member" class="nav-link text-white" aria-current="page">
                    Kelime Listem
                </a>
            </li>
            <li>
                <a  asp-action="myStats" asp-controller="Member" class="nav-link text-white">
                    İstatistiklerim
                </a>
            </li>
            <li>
                <a asp-action="changeUserFeature" asp-controller="Member" class="nav-link text-white">
                    Kullanıcı Bilgilerim
                </a>
            </li>
            <li>
                 <a asp-action="StartTest" asp-controller="Member" class="btn btn-danger">
                        Teste Başla
                 </a>
            </li>
            
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>@User.Identity.Name</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
              <!--  <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Şifre</a></li>
                <li><hr class="dropdown-divider"></li>
                  -->
                <li><a class="dropdown-item" href="#">Çıkış Yap</a></li>
            </ul>
        </div>
    </div>
        <div class="m-3">
            @RenderBody();
        </div>
    </div>



    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
